[Desktop Entry]
Version=v1.4.0
Type=Application
Name=NaviFM
GenericName=File Manager
Comment=Highly customizable and extensible modern file manager
Exec=navifm %U
Icon=navifm
Terminal=false
Categories=Utility;FileManager;
MimeType=inode/directory;
StartupNotify=true
