[Desktop Entry]
Version=v1.4.0
Type=Application
Name=Navi
GenericName=File Manager
Comment=Highly customizable and extensible modern file manager
Exec=navi %U
Icon=navi
Terminal=false
Categories=Utility;FileManager;
MimeType=inode/directory;
StartupNotify=true
