* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comfortaa;
}

body {
    background-color: black;
    color: white;
}

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#tw {
    font-size: 40px;
    color: black;
}

#topnav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: Black;
    font-size: 15px;
}

.nav-link {
    text-decoration: none !important;
    display: inline-block;
    width: 100px;
    height: 55px;
    color: White;
    text-align: center;    /* horizontally */
    line-height: 55px;     /* vertically */
}

.nav-link:hover {
    color: orange;
}

#logo {
    width: 120px;
    background-color: orange;
    color: black;
    font-weight: bold;
}

#about {
    position: absolute;
    top: 0;
    right: 0;
}

#mainbox {
    height: auto;
    width: auto;
    background-color: orange;
    color: black;
    padding: 70px;
    padding-bottom: 20px;
    top: 0;
}

#get_started_btn {
    padding: 10px;
    border-radius: 10px;
    background-color: gray;
}

#get_started_btn a {
    text-decoration: none;
    color: red;
}

#get_started_btn:hover {
    box-shadow: 0px 2px 2px 0px black;
    cursor: pointer;
}

.button4 {
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {
    background-color: #e7e7e7;
    color: #04AA6D; /* Green */
    border-color: #04AA6D; /* Green */
}

.footer {
    background: #333;
    padding: 80px 15%;
    display: flex;
    width: auto;
}

.footer div {
    text-align: center;
    text-decoration: none;
}

.footer ul {
    list-style-type: none;
}

.footer a {
    text-decoration: none;
    color: gray;
    padding: 5px;
}

.footer a:hover {
    color: white;
}

.col-1 {

}

.col-2 {
    flex-grow: 2;
}

.col-3 {

}

.footer div h3 {
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.col-1 a {
    display: block;
    text-decoration: none !important;
}

.col-2 a {
    color: white;
    display: block;
    text-decoration: none !important;
}

.copyright_text {
    color: #333;
    padding: 10px;
}

.content {
    background-color: #666;
    height: 100% auto;
    width: 100%;
    padding: 70px;
    font-size: 1.1em;
    line-height: 1.5em;
}

.content .heading {
    color: orange;
    padding-bottom: 10px;
}

.list li::marker {
    color: orange;
}

.content .list {
    list-style-type: square;
    padding-left: 40px;
}

.code-container {
    display: flex;
    background-color: darkgray;
    margin: 20px;
    color: black;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.code-container code {
    font-family: JetBrains Mono;
    overflow-x: auto; /* Allows horizontal scrolling for long content */
    flex-grow: 1; /* Allows code content to take available space */
}

.copy-code-btn {
    margin-top: 20px;
    background: none;
    border: none;
    cursor: pointer;
    right: 10px;
}

.code-container .copy-code-btn:hover {
    font-weight: bold;
}

#navi-text {
    color: orange;
    font-size: 20px;
    line-height: 60px;     /* vertically */
    font-weight: bold;
}