:root {
    --accent: #04AA6D;
    --accent2: orange;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    transition-duration: 0.4s;
}

a:hover {
    color: var(--accent);
}

body {
    background-color: black;
    color: white;
    font-family: Quicksand;
}

.button {
    background-color: var(--accent);
    /* Green */
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#tw {
    font-size: 40px;
    color: black;
    display: block;
}

#topnav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: Black;
    font-size: 15px;
    overflow: hidden;
}

@media screen and (max-width: 850px) {
    #topnav a:not(:first-child) {
        display: none;
    }

    #topnav #about {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.5em;
    }

    #topnav .nav-link {
        width: auto;
        /* vertically */
    }

    #topnav.responsive a {
        float: none;
        display: block;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 850px) {
    #topnav #about {
        display: none;
    }
}

.nav-link {
    float: left;
    text-decoration: none !important;
    display: block;
    width: 120px;
    color: White;
    padding: 14px;
    text-align: center;
    /* horizontally */
    line-height: 20px;
    /* vertically */
}

.nav-link:hover {
    color: var(--accent);
}

#logo {
    background-color: var(--accent);
    color: black;
    font-weight: bold;
}

#about {
    position: absolute;
    top: 0;
    right: 10;
}

#mainbox {
    height: auto;
    width: auto;
    background-color: var(--accent);
    color: black;
    padding: 70px;
    padding-bottom: 20px;
    top: 0;
}

.button4 {
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {
    background-color: black;
    color: var(--accent);
}

.footer {
    background: #333;
    padding: 80px 15%;
    display: flex;
    width: auto;
}

.footer div {
    text-align: center;
    text-decoration: none;
}

        .footer ul {
            list-style-type: none;
        }

.footer a {
    text-decoration: none;
    color: gray;
    padding: 5px;
}

.footer a:hover {
    color: white;
}

    .col-1 {}

.col-2 {
    flex-grow: 2;
}

        .col-3 {}

        .footer div h3 {
            font-weight: bold;
            margin-bottom: 20px;
            letter-spacing: 1px;
            color: var(--accent);
        }

.col-1 a {
    display: block;
    text-decoration: none !important;
}

    .col-2 a {
        color: white;
        display: block;
        text-decoration: none !important;
    }

.copyright_text {
    color: #333;
    padding: 10px;
}

    .content {
        background-color: #222;
        height: 100% auto;
        width: 100%;
        padding: 70px;
        font-size: 1.1em;
        line-height: 1.5em;
    }

.content .heading {
    color: var(--accent);
    padding-bottom: 10px;
}

        .list li::marker,
.olist li::marker {
    color: var(--accent);
}

.content .list {
    list-style-type: square;
    padding-left: 40px;
}

.olist h3 {
    color: pink;
}

.content .olist {
    padding-left: 40px;
}

#navi-text {
    color: var(--accent);
    font-size: 20px;
    font-weight: bold;
}

.block {
    color: var(--accent);
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
    background-color: #111;
    padding: 7px;
    font-family: JetBrains Mono;
}

    .block:hover {
        background-color: var(--accent);
        color: #111;
    }

.hr {
    margin-top: 10px;
    margin-bottom: 10px;
    color: lightcyan;
    display: block;
}

.list2 {
    list-style-type: disc;
    padding-left: 40px;
}

.warning {
    color: yellow;
    margin: 0px 40px 40px 40px;
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
}

.warning h3 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.warning p {}

.example {
    color: pink;
    margin: 0px 40px 40px 40px;
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
}

.example h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.note {
    color: cyan;
    margin: 0px 40px 40px 40px;
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
}

.note h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.coming-soon {
    background-color: #111;
    padding: 20px;
    color: orange;
    margin: 0px 40px 40px 40px;
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
}

.coming-soon h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

code {
    margin: 40px;
    border-radius: 10px;
    border: 2px solid var(--accent);
    font-family: JetBrains Mono;
}

.note .list li::marker {
    color: cyan;
}

#colorPicker {
    position: relative;
    top: 100;
    left: 100;
    display: none;
}

.simple-block {
    padding: 5px;
    background-color: #333;
    margin: 10px;
}

.simple-block .key {
    color: orange;
}

.simple-block .key::after {
    content: ":";
}


.simple-block .value {
}